
{{#if posts.length}}
<section>
  <h2>Your Dashboard</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-title post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<a class="new-post-button" href="/dashboard/new">New Post</a>