<article>
    <h2>Your Dashboard</h2>
  <h3>
    Edit Post
  </h3>
  <form class="edit-post-form">
    <div>
          <a>Title:</a>
    </div>
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      </div>
      <div>
              <a>Content:</a>
      </div>
      <div>
      <input name="post-content" type="text" value="{{post.content}}" />
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>